version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/frontend"
    schedule:
      interval: "weekly"
    security-updates-only: true  
    allow:
      - dependency-type: "all"

  - package-ecosystem: "pip"
    directory: "/backend"
    schedule:
      interval: "weekly"
    security-updates-only: true
    allow:
      - dependency-type: "all"

  - package-ecosystem: "docker"
    directory: "/"
    schedule:
      interval: "weekly"
    security-updates-only: true
